[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jupyterlab = "*"
numpy = "*"
mypy = "*"
pytest = "*"
pytest-mypy = "*"
"flake8" = "*"
fastapi = "*"
uvicorn = "*"
aiofiles = "*"
websockets = "*" 

[dev-packages]

[requires]
python_version = "3.9"
